body{
/* background-color: #ffcccc; */
background-color: #e4c6ee;
}

.jumbotron{
  width: 100%;
  height: 50%;
  color: white;
  background-image: url(https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
  background-size:50%;
  padding-top: 7em;
  padding-bottom: 7em;
  margin-bottom: 0%;
  display: flex;
  align-items: center;
  }

    
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid;
    border-radius: 100%;
    width: 12em;
    height: 12em;
    padding: 3em;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 4px 26px 11px whitesmoke;
    color: blanchedalmond;
    /* font-family: 'Lacquer' ; */
    font-family: 'Tomorrow';
    font-size: 1.5em;
    text-align: center;
  text-decoration: none;
  }
  
  .circle:hover{
    background-color: rgba(255,255,255,0.7);
    color: #27cf9c;
    text-decoration: none;
  
  }

  .container-fluid{
    padding: 0%;
    display: flex;
    justify-content: center;
  }

  header{
    background-color: black;
    padding: 0.5em;
    color: white;
   
  }

  header img{
   display: none;
  }

  header:hover{
    padding: 0%;
  }

  header:hover .header-text{
    display: none;
    }

  header:hover img{
    width: 15%;
    height: 15%;
    display: flex;
  
  }

  .footer{
    /* border: 2px greenyellow solid; */
    background: black;
    color: white;
    width: 100%;
    font-weight: lighter;
  }

  .footer-text a{
    color: white;
    text-decoration: none;
    padding: 2em;
    }
  
    
  .social-media img{
  width: 2em;
  height: 2em;
  /* border: antiquewhite 1px solid;
  box-shadow: 0.3px 2px 2px 2px antiquewhite; */
  margin: 1em;
   
  }

  /* .linkedin{
    border-radius: 0.25em;
   
  }
  
  .insta{
    border-radius: 1em;
    
  }
  
  .git{
    border-radius: 0.55em;
   
  } */
  
  .card-title{
    text-align: left;
    color: darkslategrey;
    text-shadow: grey 1px 1px;
  }
  
  .card-text{
    text-align: left;
    color: grey;
    font-size: 0.8em;
  }
  
  .card-deck{
    width: 100%;
    padding-right: 7em;
    padding-left: 7em;
    padding-top: 3em;
    padding-bottom: 5em;
  }
  
  @media (max-width: 768px) {
    .card-deck{
      padding: 1em;
    }
  }
  
  .card:hover{
    border-bottom: solid 2px black;
    box-shadow:0.5em 0.5em 1em grey ;
  }
  
  .card-footer{
    background: white;
    border: none;
  }
  .text-muted{
    float: left;
    background: white;
  }

  .latest{
    color: ivory;
    font-family: 'Tomorrow';
    font-weight: 100;
    display: flex;
    padding-top: 3em;
    padding-left: 7em;
    }
    
    .About{
      background-color: white;
      text-align: justify;
      padding: 3em;
      line-height: 3em;
      background-color: whitesmoke;
      color: grey;
      font-style:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
      ;
        }